
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap');
.final{
    float: right;
}
.mainTitle{
    color:#EBD8D9;
    font-size: 124px;
}
body{
    font-family: 'Josefin Slab', serif;
    background: #F9F9F9;
}
.cream-background{
    background: #F9F9F9;
}

.hide{
    opacity: 0;
}
.show:hover * {
    opacity: 1;
  }